<!--   Core JS Files -->

<script src="{{ ASSETS_ROOT }}/js/core/jquery.min.js"></script>






<script src="{{ ASSETS_ROOT }}/js/sweetalert2.all.min.js"></script>


<script src="{{ ASSETS_ROOT }}/js/canvas2image.js"></script>
<script src="{{ ASSETS_ROOT }}/js/html2canvas.min.js"></script>
<!-- Chart JS -->
<script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>

<script src="{{ ASSETS_ROOT }}/js/toastr.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/chart.js"></script>


 <!-- DATATABLES  -->
  <script src="{{ ASSETS_ROOT }}/js/datatables.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/dataTables.bootstrap5.js"></script>

<!-- JS de Summernote -->
<!--<script src="{{ ASSETS_ROOT }}/css/summernote/summernote-bs4.min.js"></script>

<script src="{{ ASSETS_ROOT }}/css/summernote/summernote-lite.js"></script>-->

  <!-- bootstrap -->
<script src="{{ ASSETS_ROOT }}/js/pdfmake.min.js" crossorigin="anonymous"></script>
<script src="{{ ASSETS_ROOT }}/js/vfs_fonts.js" crossorigin="anonymous"></script>
<script src="{{ ASSETS_ROOT }}/js/datatables.min.js" crossorigin="anonymous"></script>
<script src="{{ ASSETS_ROOT }}/js/jszip.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/bootstrap.bundle.min.js"></script>



<script src="{{ ASSETS_ROOT }}/js/ajax.js"></script>

<script src="{{ ASSETS_ROOT }}/js/quagga.min.js"></script>


